name: Test
on: [push]

jobs:
    code-quality:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout the code
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: look for syntax errors with ruff
              run: uv run ruff check

    unit-tests:
        runs-on: ${{ matrix.os }}
        needs: code-quality # don't bother running tests if code-checks fails.

        strategy:
            fail-fast: false # don't stop all jobs if one fails
            matrix:
                os:
                    - ubuntu-latest
                    - macos-latest
                    - windows-latest

        steps:
            - name: Checkout the code
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - run: uv run pytest
